<include file = "Common/header" />

<div class="am-cf admin-main">
    <include file = "Common/left" />

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">平台管理</strong> / <small>会员管理</small></div>
            </div>

                <div class="am-u-sm-12 am-u-md-3" style="float:right; ">
                    <div class="am-input-group am-input-group-sm">

                        <input type="text" class="am-form-field" name="ss" id="ss" value="" placeholder="请输入用户名搜索"/>
                        <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" id="btss" onclick="ss()" >
                            搜索</button>
                        </span>
                    </div>
                </div>


            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr id="head">
                                <!--<th class="table-check"><input type="checkbox" /></th>-->
                                <!--<th class="table-id">ID</th>-->
                                <th class="table-title" width="17%">登陆账号</th>
                                <th class="table-type" width="16%">会员级别</th>
                                <th class="table-date am-hide-sm-only" width="22%">注册日期</th>
                                <th class="table-author am-hide-sm-only" width="20%">推荐人</th>
                                <th class="table-set" width="25%">操作</th>
                            </tr>
                            </thead>
                            <tbody id="ad" hidden>
                                <tr id="tr">
                                    <td></td>
                                    <td id="user-level">
                                        <!--<switch name="data['user']['ulevel']">
                                            <case value="1">金星会员</case>
                                            <case value="2">白金会员</case>
                                            <case value="3">钻石会员</case>
                                            <case value="4">水星会员</case>
                                        </switch>-->
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <if condition ="$v['islock'] eq 0">

                                                    <a id="afff" href="">
                                                        <span class="am-icon-pencil-square-o"></span>
                                                        查看
                                                    </a>
                                                    &nbsp;

                                                    <a id="adddd" href="">
                                                    锁定
                                                    </a>
                                                   

                                                    <else/>

                                                    已锁定 &nbsp;

                                                    <a id="jiesou" href="">
                                                        解锁
                                                    </a>

                                                </if>
                                                 <a id="abbbb" href="">
                                                    登陆
                                                </a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody id="tb">

                            <foreach name="mems" item="v">
                            <tr>

                                <td>{$v.username}</td>
                                <td>
                                    <switch name="v.ulevel">
                                        <case value="1">金星会员</case>
                                        <case value="2">白金会员</case>
                                        <case value="3">钻石会员</case>
                                        <case value="4">水星会员</case>
                                    </switch>

                                </td>
                                <td class="am-hide-sm-only">{$v.regtime}</td>
                                <td class="am-hide-sm-only">{$v.rename}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <if condition ="$v['islock'] eq 0">

                                                <a href="{:U('detail',array('id'=>$v['id']))}">
                                                <span class="am-icon-pencil-square-o"></span>
                                                查看
                                            </a>
                                            &nbsp;

                                            <a href="{:U('lock',array('id'=>$v['id']))}">
                                                锁定
                                            </a>
                                             <a href="{:U('login',array('id'=>$v['id']))}">
                                                登陆
                                            </a>
                                                <else/>

                                                    已锁定 &nbsp;

                                                <a href="{:U('unlock',array('id'=>$v['id']))}">
                                                    解锁
                                                </a>
                                                <a href="{:U('login',array('id'=>$v['id']))}">
                                                登陆
                                                </a>

                                            </if>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 {$count} 条记录
                            <div class="am-fr" id="page" pages = "{$pages}">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


<include file = "Common/footer" />


<script type="text/javascript">
    
    laypage({
        cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
        pages: $('#page').attr('pages'), //总页数
        //first:false,
        skin: '#AF0000',
        groups: 7,//连续显示分页数
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });

    function ss(){
        var ss = $('#ss').val();
        var cardidpatrn = /^\S+$/;
        if(!cardidpatrn.test(ss)){
            $('#ss').val('');
            $('#ss').attr("placeholder", "请输入用户名");
            $('#ss').focus();
            return;
        }

        $.ajax({
            url : 'sousuo',
            type : "post",
            data : {"sousuo":$('#ss').val()},
            dataType : "json",
            success : function(data){
                console.log(data);
                if(data['msg']== 0){
                    alert("该用户不存在");
                    return false;
                }else{
                    $('#tb').hide();
                    $('#ad').show();
                   // console.log(data['user']['username']);
                    $('#tr > td:eq(0)').html(data['user'].username);
                    var level = data['user'].ulevel;
                    if(level == 1){
                        var abc = "金星会员";
                    }else if(level == 2){
                      var abc = "白金会员";
                    }else if(level == 3){
                        var abc = "钻石会员";
                    }else if(level == 4){
                        var abc = "水星会员";
                    }



                    $('#tr > td:eq(1)').html(abc);
                    $('#tr > td:eq(2)').html(data['user'].regtime);
                    $('#tr > td:eq(3)').html(data['user'].rename);
                    var kk = data['user'].id;
                    var i = "/index.php/Admin/Guanli/detail/id/"+kk+".html";
                    var j = "/index.php/Admin/Guanli/lock/id/"+kk+".html";        
                    var g = "/index.php/Admin/Guanli/unlock/id/"+kk+".html";        
                    var h = "/index.php/Admin/Guanli/login/id/"+kk+".html";        
                    $('#afff').attr("href",i);
                    $('#adddd').attr("href",j);
                    $('#jiesou').attr("href",g);
                    $('#abbbb').attr("href",h);
                }


            }
        })
    }

</script>