<include file = "Common/header" />

<div class="am-cf admin-main">

    <include file = "Common/left" />
    <style>
        .well {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #eee;
            border: 1px solid rgba(0, 0, 0, 0.05);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }
        .hero-unit {
            padding: 40px 60px;
            margin-bottom: 30px;
            background-color: #F8F8F8;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

    </style>
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">财务管理/</strong>
                    <small> 财务明细</small>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-2 am-u-md-push-10">

                </div>

                <div class="well hero-unit span12">

                    <!--<p>账户名称:{$info.username}</p>-->
                    <h2>账户ID:{$info.id}</h2>
                    <p>币值组合：€ {$info.zuhe}</p>
                    <p>总奖金：€ {$info.zongji}</p>
                    <p>洲际银行股权：€ {$info.guquan}</p>
                    <p>洲际币：{$info.zhoujibi}</p>
                    <p>现金币：€ {$info.xianjin}</p>
                    <p>报单币：€ {$info.baodan}</p>
                    <p>周利息：€ {$info.lixi}</p>
                    <p>月分红：€ {$info.fenhong}</p>
                    <p>环球奖：€ {$info.huanqiu}</p>
                    <p>慈善基金：€ {$info.cishan}</p>
                    <p>洲际币行情：€ {$zhoujibi}
                    </p>
                </div>
            </div>







            <include file = "Common/footer" />


<script type="text/javascript">
    laypage({
        cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
        pages: $('#page').attr('pages'), //总页数
        //first:false,
        skin: '#AF0000',
        groups: 7,//连续显示分页数
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });
</script>