<include file = "Common/header" />
<div class="am-cf admin-main">
    <include file = "Common/left" />


    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">问题反馈</strong> / <small>matter</small>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-warning" id="feedback"><span class="am-icon-plus"></span> 反馈新问题</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-form-group">
                        <select data-am-selected="{btnSize: 'sm'}">
                            <option value="option1">所有类别</option>
                            <option value="option2">IT业界</option>
                            <option value="option3">数码产品</option>
                            <option value="option3">笔记本电脑</option>
                            <option value="option3">平板电脑</option>
                            <option value="option3">只能手机</option>
                            <option value="option3">超极本</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                          <input type="text" class="am-form-field">
                          <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="button">搜索</button>
                          </span>
                    </div>
                </div> -->
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id" style="width:15%">编号</th>
                                <th class="table-title" style="width:25%">标题</th>
                                <th class="table-type" style="width:20%">类别</th>
                                <th class="table-author am-hide-sm-only" style="width:20%">状态</th>
                                <th class="table-date am-hide-sm-only" style="width:20%">最后更新</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="#">Business management</a></td>
                                    <td>default</td>
                                    <td class="am-hide-sm-only">测试1号</td>
                                    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 15 条记录
                            <div class="am-fr">
                                <ul class="am-pagination">
                                    <li class="am-disabled"><a href="#">«</a></li>
                                    <li class="am-active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
</a>

<include file = "Common/footer" />
<script type="text/javascript">
    $('#feedback').on('click',function(){
        var content = '<div class="am-g" id="couple">'
            content+= '<div class="am-u-12">'
            content+= '        <form class="am-form">'
            content+= '          <fieldset>'
            content+= '            <legend>问题反馈</legend>'
            content+= '            <div class="am-form-group">'
            content+= '              <label for="doc-ipt-pwd-1">信息标题</label>'
            content+= '              <input type="text" name="title" class="" id="doc-ipt-pwd-1" placeholder="请输入您的反馈问题简介">'
            content+= '            </div>'
            content+= '            <div class="am-form-group">'
            content+= '              <label for="doc-select-1">信息分类</label>'
            content+= '              <select id="doc-select-1" name="mtype">'
            content+= '                <option value="1">意见反馈</option>'
            content+= '                <option value="2">奖金问题</option>'
            content+= '                <option value="3">帐号问题</option>'
            content+= '                <option value="4">其他问题</option>'
            content+= '              </select>'
            content+= '              <span class="am-form-caret"></span>'
            content+= '            </div>'
            content+= '            <div class="am-form-group">'
            content+= '              <label for="doc-ta-1">反馈内容</label>'
            content+= '              <textarea class=""  name="msg" rows="5" id="doc-ta-1"></textarea>'
            content+= '            </div>'
            content+= '          </fieldset>'
            content+= '        </form>'
            content+= '    </div>'
            content+= '</div>'
        layer.open({
              type: 1,
              title:'问题反馈',
              //skin: 'layui-layer-rim', //加上边框
              area: ['420px',''], //宽高
              content: content,
              btn: ['提交', '取消'],
              yes:function(){
                     var title = $('input[name="title"]').val();
                     var mtype = $('#doc-select-1 option:selected').val();
                     var msg = $('#doc-ta-1').val();
                     if (!title) {
                         layer.alert('请输入标题', {icon: 2});
                         return false;
                     };
                     if (!msg) {
                         layer.alert('请输入反馈问题', {icon: 2});
                         return false;
                     };
                     $.ajax({
                         type:'POST',
                         url:'deal',
                         data:{
                            title:title,
                            mtype:mtype,
                            msg:msg,
                            type:'add',
                         },
                         success:function(data){
                            if (!data.status) {
                                layer.alert(data.info, {icon: 1});
                                return false;
                            };
                            layer.open({
                                  content: data.info,
                                  yes: function(index, layero){
                                     location.reload();
                                  }
                            });   
                         }
                     })
              },
        });
    })
</script>