<include file = "Common/header" />

<div class="am-cf admin-main">
    <include file = "Common/left" />


    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人中心</strong> / <small>激活帐号</small></div>
            </div>
           

            <div class="am-g">
                <div class="am-u-sm-12">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                               <th class="table-title"> 会员编号 </th><th class="table-type">推荐人</th><th class="table-author am-hide-sm-only">注册时间</th><th class="table-date am-hide-sm-only"> 开通时间 </th><th class="table-set">状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="news_list" item="vo">
                            <tr>
                                
                                <td>{$vo.username}</td>
                                <td>{$vo.rename}</td>
                                <td class="am-hide-sm-only">{$vo.regtime}</td>
                                <td class="am-hide-sm-only">{$vo.passtime}</td>
                                <td>
                                    <if condition = "$vo.ispay eq 0"> <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="activet({$vo.id})"><span class="am-icon-pencil-square-o"></span> 激活</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="dell({$vo.id})"><span class="am-icon-trash-o" ></span> 删除</button>
                                        </div>
                                    </div><else/><strong>已激活</strong></if> 
                                   
                                </td>
                            </tr>
                         </foreach>
                     
                           
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 {$count} 条记录
                            <div class="am-fr" id="page" pages = "{$pages}">
                               
                            </div>
                        </div>
                </div>

            </div>
        </div>

<include file = "Common/footer" />
<script type="text/javascript">
    laypage({
        cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
        pages: $('#page').attr('pages'), //总页数
        //first:false,
        skin: '#AF0000',
        groups: 7,//连续显示分页数
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(), 
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });

        function activet(a){
     $.ajax({
        url : 'activateadd',
        type : "post",
        data : {"id":a},
        dataType : "json",
        success : function(data){
           var i = data.ispay;
           alert(i);
           location.reload();
        }
     })
    }

 function dell(b){
     $.ajax({
        url : 'activatedel',
        type : "post",
        data : {"id":b},
        dataType : "json",
        success : function(data){
           var i = data.del;
           alert(i);
           location.reload();
        }
     })
    }


    
      


</script>