<include file = "Common/header" />

<div class="am-cf admin-main">
    <include file = "Common/left" />


    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人中心</strong> / <small>注册新会员</small></div>
            </div>

            <hr>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-2 am-u-md-push-10">
                
                </div>

               <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                   <form class="am-form am-form-horizontal" id="dify"  method="post">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">安置人</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="fatherMan" name="fatherMan" placeholder=""  value="">
                            </div>
                        </div>
                        <br/>
                         <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">位置</label>
                                    <div class="am-u-sm-9">
                                        
                                        <select id="treeplace" name="treeplace" class="input-xlarge">
                                          <option value="0" >左区</option>
                                          <option value="1" >右区</option>
                                        </select>
                                     
                                    </div>
                         </div>
                        <br/>
                          <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">位置</label>
                                    <div class="am-u-sm-9">
                                        
                                        <select id="elvel" name="elvel" class="input-xlarge">
                                                  <option value="0" selected>请选择会员级别</option>

                                                  <option value="4">水星会员（$500）</option>
                                                  
                                                  <option value="1">金星会员（$1000）</option>
                                                  
                                                  <option value="2">白金会员（$3000）</option>
                                                  
                                                  <option value="3">钻石会员（$5000）</option>

                                        </select>
                                     
                                    </div>
                          </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">用户名</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="usernames" name="usernames" placeholder=""  >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">登录密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="password" name="password" placeholder="请输入登录密码"  >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">确认登录密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="password2"  placeholder="请输入确认登录密码" >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">二级密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="passwordtwo" name="passwordtwo" placeholder="请输入登录密码"  >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">确认二级密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="passwordtwo2" name="passwordtwo2" placeholder="请输入确认二级密码"  >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">手机号码</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="telephone" name="telephone" placeholder="请输入手机号码" >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">推荐人</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="reMan" name="reMan" placeholder="开户行" value="{$value.username}">
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">电子邮箱</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="alipay" name="alipay" placeholder="电子邮箱" >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">开户行</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="ibankname" name="ibankname" placeholder="中国银行深圳分行国贸支行" >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">开户姓名</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="ibankuser" name="ibankuser" placeholder="银行账号对应的姓名" >
                            </div>
                        </div>
                        <br/>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">银行卡号</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="ibankcard" name="ibankcard" placeholder="银行卡号" >
                            </div>
                        </div>
                        <br/>
                      
                               



                    <!--     <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary" data-loading-text="保存中..."  onclick="submitAdd()">提交注册</button>
                            </div>
                        </div> -->
                            <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary" data-loading-text="保存中..."  onclick="submitAdd()">提交注册</button>
                            </div>
                        </div>
                        </form>
                </div>
            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
</a>

<include file = "Common/footer" />
<script type="text/javascript">
 $().ready(function(){

  $('button[data-loading-text]').click(function () {
    var btn = $(this).button('loading');
    setTimeout(function () {
        btn.button('reset');
    }, 3000);
 });
   

 })
 

 function submitAdd(){

      var password = $('#password').val();
      var password2 = $('#password2').val();
      var passwordtwo = $('#passwordtwo').val();
      var passwordtwo2 = $('#passwordtwo2').val();

       if(password != password2){
        $('#password').val('');
        $('#password2').val('');
        $('#password').attr("placeholder", "两次密码不一样");
        $('#password2').attr("placeholder", "两次密码不一样");
        $('#password').focus();
        return;
      }

       if(passwordtwo != passwordtwo2){
        $('#passwordtwo').val('');
        $('#passwordtwo2').val('');
        $('#passwordtwo').attr("placeholder", "两次密码不一样");
        $('#passwordtwo2').attr("placeholder", "两次密码不一样");
        $('#passwordtwo').focus();
        return;
      }

         $.ajax({
        url : 'registeradd',
        type : "post",
        data : {
         "fatherMan" : $('#fatherMan').val(),
         "treeplace" : $('#treeplace').val(),
         "elvel" : $('#elvel').val(),
         "usernames" : $('#usernames').val(),
         "password" : $('#password').val(),
         "passwordtwo" : $('#passwordtwo').val(),
         "telephone" : $('#telephone').val(),
         "reMan" : $('#reMan').val(),
         "alipay" : $('#alipay').val(),
         "ibankname" : $('#ibankname').val(),
         "ibankuser" : $('#ibankuser').val(),
         "ibankcard" : $('#ibankcard').val()

      },
        dataType : "json",
        success : function(data){
          // alert(data.isRead);
            if(data.read != 1){
              var i = data.read;
              alert(i);
            }
            else{
              alert("注册成功");
              location.href = "profile";
            }
          
     
        }
     })
       
   
      
     
    }

</script>