<include file = "Common/header" />
<style type="text/css">
        .box{
            margin: 50px auto;
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            /*background: salmon;*/
            text-align: center;
            line-height: 100px;
            cursor:pointer;
        }
        .box div{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background: salmon;
            text-align: center;
            line-height: 100px;
            cursor:pointer;
        }
        .box1{
            
            position: absolute;  
            cursor:pointer;
        }
        .box2{
            position: absolute;
            left: -200px;
            top: 150px;
            cursor:pointer;
        }
        .box3{
            position: absolute;
            left: 200px;
            top: 150px;
            cursor:pointer;
        }
        .box5{
            position: absolute;
            left: -100px;
            top: 300px;
            cursor:pointer;
        }
        .box6{
            position: absolute;
            left: 100px;
            top: 300px;
            cursor:pointer;
        }
        .box4{
            position: absolute;
            left: -300px;
            top: 300px;
            cursor:pointer;
        }
        .box7{
            position: absolute;
            left: 300px;
            top: 300px;
            cursor:pointer;
        }
</style>
<div class="am-cf admin-main">
    <include file = "Common/left" />


    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人中心</strong> / <small>团队结构</small></div>
            </div>
            <div class="am-g">
            	<div class="am-u-sm-4">4</div>
  				<div class="am-u-sm-8">8</div>
            	<div class="box">
                    <div class="team box1" tree="1"></div>
                    <div class="team box2" tree="2"></div>
                    <div class="team box3" tree="3"></div>
                    <div class="team box4" tree="4"></div>
                    <div class="team box5" tree="5"></div>
                    <div class="team box6" tree="6"></div>
                    <div class="team box7" tree="7"></div>
                </div>
            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
</a>

<include file = "Common/footer" />
<script type="text/javascript">
    	var id = "<?php echo $_SESSION['member']['id']?>";
    	var cont = '<a class="reg"  href="javascript:void(0)">注册会员</a>';
    	var init = {
	    	getteam:function(id){
	            $.get('geteam?id='+id,function(data){
	                //顶层
	                $('.box1').html(data['member']['username']);
	                $('.box1').attr('id',data['member']['id']);

	                //中间层
	                if (!data['memberinfo'].length) {
	                    $('.box2').html(cont);
	                    $('.box2').attr('id','');
	                    $('.box3').html(cont);
	                    $('.box3').attr('id','');
	                }else if (data['memberinfo'].length =='1') {
	                    if (data['memberinfo'][0]['treeplace'] == '0') {
	                         $('.box2').html(data['memberinfo'][0]['username']);
	                         $('.box2').attr('id',data['memberinfo'][0]['id']);
	                         $('.box3').html(cont);
	                         $('.box3').attr('id','');
	                    }
	                    if (data['memberinfo'][0]['treeplace'] == '1') {
	                         $('.box3').html(data['memberinfo'][0]['username']);
	                         $('.box3').attr('id',data['memberinfo'][0]['id']);
	                         $('.box2').html(cont);
	                         $('.box2').attr('id','');
	                    }
	                }else if(data['memberinfo'].length == "2") {
	                    $('.box2').html(data['memberinfo'][0]['username']);
	                    $('.box2').attr('id',data['memberinfo'][0]['id']);

	                    $('.box3').html(data['memberinfo'][1]['username']);
	                    $('.box3').attr('id',data['memberinfo'][1]['id']);
	                }
	                //底层数据
	                if (data['childinfo']) {
	                    var left = [];
	                    var right = [];
	                    $.each(data['childinfo'],function(i,item){
	                        if (item['fatherid'] == $('.box2').attr('id')) {
	                            left.push(item);
	                        };
	                        if (item['fatherid']== $('.box3').attr('id')) {
	                            right.push(item);
	                        };
	                    })
	                }
	                //底层左区
	                if (left.length=='1') {
	                    if (!left[0]['treeplace']) {
	                        $('.box4').html(left[0]['username']);
	                        $('.box4').attr('id',left[0]['id']);
	                        $('.box5').html(cont);
	                    }else{
	                        $('.box5').html(left[0]['username']);
	                        $('.box5').attr('id',left[0]['id']);
	                        $('.box4').html(cont);
	                    }
	                }else if (left.length=='2') { //左右同时存在
	                    $.each(left,function(i,item){
	                        switch(item['treeplace']){
	                            case '0':
	                                $('.box4').html(item['username']);
	                                $('.box4').attr('id',item['id']);
	                            break;
	                            case '1':
	                                $('.box5').html(item['username']);
	                                $('.box5').attr('id',item['id']);
	                            break;
	                            default:
	                            break;
	                        }
	                    })
	                }else{
	                	if (!$('.box2').attr('id')) {
	                		$('.box4').html('');
	                		$('.box5').html('');
	                	}else{
	                		$('.box4').html();
	                		$('.box5').html();
	                	}
	                }
	                //底层右区
	                if (right.length=='1') {
	                    if (!right[0]['treeplace']) {
	                        $('.box4').html(right[0]['username']);
	                        $('.box4').attr('id',right[0]['id']);
	                        $('.box5').html(cont);
	                    }else{
	                        $('.box5').html(right[0]['username']);
	                        $('.box5').attr('id',right[0]['id']);
	                        $('.box4').html(cont);
	                    }
	                }else if (right.length=='2') { //左右同时存在
	                    $.each(right,function(i,item){
	                        switch(item['treeplace']){
	                            case '0':
	                                $('.box4').html(item['username']);
	                                $('.box4').attr('id',item['id']);
	                            break;
	                            case '1':
	                                $('.box5').html(item['username']);
	                                $('.box5').attr('id',item['id']);
	                            break;
	                            default:
	                            break;
	                        }
	                    })
	                }else{
	                    if (!$('.box3').attr('id')) {
	                		$('.box6').html('');
	                		$('.box7').html('');
	                	}else{
	                		$('.box6').html(cont);
	                		$('.box7').html(cont);
	                	}
	                }
	            })
	        },
    	}
        
        var obj = Object.create(init);

        //获取团队信息
        obj.getteam(id);
        $('.reg').on('click',function(){
        	alert('lll');
        })
        $('.team').on('click',function(){
            var id = $(this).attr('id');
            if (!id) {
            	if ($(this).html()) {
            		switch($(this).attr('tree')){
            			case '2':
            				location.href = "register?fatherMan="+$('.box1').html();
            				break;
            			case '3':
            				location.href = "register?fatherMan="+$('.box1').html();
            				break;
            			case '4':
            				location.href = "register?fatherMan="+$('.box2').html();
            				break;
            			case '5':
            				location.href = "register?fatherMan="+$('.box2').html();
            				break;
            			case '6':
            				location.href = "register?fatherMan="+$('.box3').html();
            				break;
            			case '7':
            				location.href = "register?fatherMan="+$('.box3').html();
            				break;
            			default:
            				break;
            		}
            	}else{
            		return false;
            	}
            }else{
                obj.getteam(id);
            }
        })
        
</script>