
<!--[if lt IE 9]>
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/js/modernizr.js"></script>
<script src="__PUBLIC__/Admin/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Admin/js/amazeui.min.js"></script>
<script src="__PUBLIC__/Admin/js/app.js"></script>
<script src="__PUBLIC__/Admin/lib/laypage/laypage.js"></script>
<script src="__PUBLIC__/Admin/lib/layer/layer.js"></script>
</body>
</html>