
<footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 1998-2016 InterContinental Investment Bank All rights reserved.</p>
</footer>
</div>
<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
</a>



<!--[if lt IE 9]>
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/js/modernizr.js"></script>
<script src="__PUBLIC__/Admin/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Admin/js/amazeui.min.js"></script>
<script src="__PUBLIC__/Admin/js/app.js"></script>
<script src="__PUBLIC__/Admin/lib/laypage/laypage.js"></script>
<script src="__PUBLIC__/Admin/lib/layer/layer.js"></script>

<!-- <script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/ueditor.all.js"></script> -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/js/dialog.js"></script> -->
</body>
</html>